body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color: rgb(165, 229, 246);
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}